<div class="jumbotron">
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>



<div class="row marketing" ng-repeat="content in awesomeThings">
  <div >
    <h4>{{content.title}}</h4>
    <p>
      {{content.content}}
    </p>
  </div>



</div>
<div>
  <form>
    <input ng-model="newThing">
    <input ng-model="newContent">
    <button ng-click="saveThing()">
  </form>
</div>
